.bookElement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #222222;
    padding: 6px;
    margin: 10px auto;
    border: none;
    border-radius: 4px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    font-weight: 700;
}

.bookElement .active {
    background-color: rgb(206, 219, 86);
    color: white;
}

.bookElement button {
    cursor: pointer;
}

.bookElement button {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    background-color: white;
    border: none;
    margin: 0px 2px;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}

.bookElement .editBtn {
    background-color: rgb(118, 205, 216);
    color: white;
}